<div class="container text-center">
  <h1>Boulder beta for girls</h1>
  <p>BetaBank helps you get that boulder ticked off</p>
  <%= link_to "Sign in", new_user_session_path, class: "btn btn-lg btn-primary" %>
</div>


